@import "/reset.css";

:root {
    --accent-clr: #EB5E28;
    
    --primary-clr-900: #252422;
    --primary-clr-700: #403D39;
    
    --secondary-clr-100: #FFFCF2;
    --secondary-clr-500: #CCC5B9;
}